@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
}
.card {
  background-color: white;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  padding-top: 180px;
  position: fixed;
  font-size: 150px;
}
.top-suit {
  position: absolute;
  top: -65px;
  left: 20px;
}
.bottom-suit {
  position: absolute;
  right: 20px;
}

// .card.spade.top-symbol.bottom-symbol {
//   content: "\2660";
// }
// .card.heart.top-symbol.bottom-symbol {
//   content: "\2665";
// }
// .card.club.top-symbol.bottom-symbol {
//   content: "\2663";
// }
// .card.diamond.top-symbol.bottom-symbol {
//   content: "\2666";
//}
