@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
}
.card {
  background-color: white;
  width: 400px;
  height: 600px;
  margin: auto;
  margin-top: 8%;
  border-radius: 25px;
  text-align: center;
  padding-top: 180px;
  font-size: 150px;
}
.top-suit {
  position: absolute;
  top: -65px;
  left: 20px;
}
.bottom-suit {
  position: absolute;
  bottom: -40px;
  right: 20px;
  transform: scaleY(-1);
}
